<div style=
  " margin: 0 auto;
    padding: 5px;
    color: #7d40e7;
    display: flex;
    flex-direction: column;
    align-items: center;
  "
>
<br />
  <p style="text-align: center;">
    Sua Equipe FastFeet
  </p>
</div>
