<div style=
  "font-family: Roboto, Ubuntu, Arial, Helvetica, Sans-Serif;
   font-size: 16px;
   line-height: 1.6;
   color: #fff5ee;
   max-width: 600px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto;
   text-align: center;
   background: royalblue,
   list-style: none;
">
  {{>header}}
  {{  body }}
  {{>footer}}
</div>
